NODE_ENV=development
PORT=3006

# JWT
JWT_SECRET=super_secret_key_change_in_production
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

# Database
DATABASE_URL=postgresql://user:pass@host/db?sslmode=require

# AI Assistant
GEMINI_API_KEY=your_gemini_key

# PayOS Cổng thanh toán
PAYOS_CLIENT_ID=your_client_id
PAYOS_API_KEY=your_api_key
PAYOS_CHECKSUM_KEY=your_checksum_key
